---
layout: default
---
<body>
    <div class="post container">
        <div class="row">
            <header class="post-header jumbotron">
                <h1 class="post-title">{{ page.title }}<br />
                    <small>Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
                </h1>
            </header>
        </div>
        <div class="row">
            <article class="post-content col-md-12">
                {{ content }}
            </article>
        </div>
    </div>
</body>
